<script>
	function showAlarmForm() {
		var elem = $('.specify-alarm');
		elem.css('display', 'block');
		$('.alarm-form').append("<%= escape_javascript(render(:partial => "new_alarm_form")) %>")
		$('#single-alarm').css('display', 'none');
		$('#multi-alarm').css('display', 'block');
	};
</script>
<p>Always forgetting things?...</p>
<h1>Let Us Remind You!</h1>

<% if subscriber_signed_in? %>
	<div class="specify-alarm" style="display:none;">
		<%= form_for :alarm, url: {controller: "alarm", action: "create"} do %>
			<div class="alarm-form">
			</div>
			<%= submit_tag("Set Reminder(s)") %>
		<% end %>
	</div>
	<div class="specify-alarm">
		<button id="single-alarm" onclick="showAlarmForm();">Click Here to Set a Reminder!</button>
		<button id="multi-alarm" onclick="showAlarmForm();" style="display:none;">Add Another Reminder</button>
	</div>
	<% if !@alarms.empty? %>
		<div>
			<h2>You have set the following reminders: </h2>
			<table>
				<% @alarms.each do |alarm| %>
				<table>
					<tr>
						<td><%= alarm.hour %>:<%= alarm.minute %></td>
						<td>
							<%= form_for :alarm, url: {controller: "alarm", action: "destroy", id: alarm.id} do %>
								<%= submit_tag("Remove") %>
							<% end %>
						</td>
						<td>
							<%= form_for :alarm, url: {controller: "alarm", action: "send_message", id: alarm.id} do %>
								<%= submit_tag("Test Reminder Now") %>
							<% end %>
						</td>
					</tr>
				</table>
				<table>
					<tr>
						<td></td>
						<td><%= alarm.body %></td>
					</tr>
				</table>
				<% end %>
			</table>
		</div>
	<% else %>
		<div>
			<h2>You have not set any reminders set</h2>
		</div>
	<% end %>
<% else %>
	<h2><%= link_to "Sign Up", new_subscriber_registration_path %></h2>
	<p>Already have an account?  <%= link_to "Sign In", new_subscriber_session_path %></p>
<% end %>
